<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Watchlist</title>
  </head>

  <body>
    <h1>test</h1>

    <form action="/titles" method="POST">
      <input type="text" placeholder="title" name="title" />
      <input type="text" placeholder="year" name="year" />
      <button type="submit">Submit</button>
    </form>

    <h2>Movie Titles</h2>
    <% for (var i = 0; i < titles.length; i++) {%>
      <li class="titles">
        <span><%=titles[i].title %></span>
        <span><%=titles[i].year %></span>
      </li>
     <%}%>


     <p>replace movie title with The Fifth Element</p> 
     <button id="update-button">UPDATE!</button>

     <p> Delete Fifth Element 😭; does nothing if there are none left</p>
     <button id="delete-button">DELETE</button>

     <div id="message"></div>
     
     <script src="/main.js""></script>
    </body>
</html>
