.container {
  width: 75%;
  border: 1px solid green
}

.add-user, 
.add-title {
  border: 1px solid red;
  width: 60%
}

.add-user input,
.add-title input {
  
}

.user-table {
  border: 1px solid blue
}